<div class="container">
  <div class="row mt-4 mb-5 text-center">
    <div class="col fs-1">
      <h1>Cadastro de Produtos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Nome do Produto: </label>
          <input type="text" class="form-control" id="name" aria-describedby="Nome">
        </div>
      </form>
    </div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="color" class="form-label">Cor do Produto: </label>
          <input type="text" class="form-control" id="color" aria-describedby="Cor">
        </div>
      </form>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="amount" class="form-label">Quantidade: </label>
          <input type="text" class="form-control" id="amount" aria-describedby="Quantidade">
        </div>
      </form>
    </div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label for="productor" class="form-label">Fabricante do Produto: </label>
          <input type="text" class="form-control" id="productor" aria-describedby="Fabricante">
        </div>
      </form>
    </div>
  </div>
  <div class="mb-5 text-center">
    <button class="btn btn-primary fs-5">Cadastrar</button>
  </div>

  <div class="row text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Cor</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Fabricante</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngfor="let product of Products">
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.color}}</td>
          <td>{{product.amount}}</td>
          <td>{{product.productor}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
